MyMusicSite/App_WebReferences/localhostWebServiceSongs/WebServiceSongs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSongByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSongByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSongByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSongByStyle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Style" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSongByStyleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSongByStyleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSongFamousWithAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:SongDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SongDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="songname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="songstyle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="songartist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="songalbum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="albumcode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="artistcode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stylecode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="songfile" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadSongFamousWithAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadSongFamousWithAlbumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSongFamous">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="tns:SongDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSongFamousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadSongFamousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFamousSongs">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFamousSongsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFamousSongsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFamousSongByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodeSong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFamousSongByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFamousSongByCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSongByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetSongByName" />
  </wsdl:message>
  <wsdl:message name="GetSongByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetSongByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetSongByStyleSoapIn">
    <wsdl:part name="parameters" element="tns:GetSongByStyle" />
  </wsdl:message>
  <wsdl:message name="GetSongByStyleSoapOut">
    <wsdl:part name="parameters" element="tns:GetSongByStyleResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSongFamousWithAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSongFamousWithAlbum" />
  </wsdl:message>
  <wsdl:message name="UploadSongFamousWithAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSongFamousWithAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSongFamousSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSongFamous" />
  </wsdl:message>
  <wsdl:message name="UploadSongFamousSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSongFamousResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFamousSongsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFamousSongs" />
  </wsdl:message>
  <wsdl:message name="GetAllFamousSongsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFamousSongsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFamousSongByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFamousSongByCode" />
  </wsdl:message>
  <wsdl:message name="GetFamousSongByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFamousSongByCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSongsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSongByName">
      <wsdl:input message="tns:GetSongByNameSoapIn" />
      <wsdl:output message="tns:GetSongByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSongByStyle">
      <wsdl:input message="tns:GetSongByStyleSoapIn" />
      <wsdl:output message="tns:GetSongByStyleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamousWithAlbum">
      <wsdl:input message="tns:UploadSongFamousWithAlbumSoapIn" />
      <wsdl:output message="tns:UploadSongFamousWithAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamous">
      <wsdl:input message="tns:UploadSongFamousSoapIn" />
      <wsdl:output message="tns:UploadSongFamousSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFamousSongs">
      <wsdl:input message="tns:GetAllFamousSongsSoapIn" />
      <wsdl:output message="tns:GetAllFamousSongsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFamousSongByCode">
      <wsdl:input message="tns:GetFamousSongByCodeSoapIn" />
      <wsdl:output message="tns:GetFamousSongByCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSongsSoap" type="tns:WebServiceSongsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongByName">
      <soap:operation soapAction="http://tempuri.org/GetSongByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongByStyle">
      <soap:operation soapAction="http://tempuri.org/GetSongByStyle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamousWithAlbum">
      <soap:operation soapAction="http://tempuri.org/UploadSongFamousWithAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamous">
      <soap:operation soapAction="http://tempuri.org/UploadSongFamous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFamousSongs">
      <soap:operation soapAction="http://tempuri.org/GetAllFamousSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamousSongByCode">
      <soap:operation soapAction="http://tempuri.org/GetFamousSongByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSongsSoap12" type="tns:WebServiceSongsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongByName">
      <soap12:operation soapAction="http://tempuri.org/GetSongByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongByStyle">
      <soap12:operation soapAction="http://tempuri.org/GetSongByStyle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamousWithAlbum">
      <soap12:operation soapAction="http://tempuri.org/UploadSongFamousWithAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSongFamous">
      <soap12:operation soapAction="http://tempuri.org/UploadSongFamous" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFamousSongs">
      <soap12:operation soapAction="http://tempuri.org/GetAllFamousSongs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamousSongByCode">
      <soap12:operation soapAction="http://tempuri.org/GetFamousSongByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSongs">
    <wsdl:port name="WebServiceSongsSoap" binding="tns:WebServiceSongsSoap">
      <soap:address location="http://localhost:4899/MyMusicService/WebServiceSongs.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSongsSoap12" binding="tns:WebServiceSongsSoap12">
      <soap12:address location="http://localhost:4899/MyMusicService/WebServiceSongs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>